/*--Layout--*/
.mainContent { grid-area: mainContent }
.sidebarLeft { grid-area: sidebarLeft }
.sidebarRight { grid-area: sidebarRight }
.footer { grid-area: footer }

body {
  display: grid;
  grid-template-columns: 1fr;
  grid-gap: 1em;
  grid-auto-rows: minmax(100px, 100%);
  justify-items: strech;
  grid-template-areas:
    "mainContent"
    "sidebarLeft"
    "sidebarRight"
    "footer"
    ;
}

@media screen and (min-device-width: 600px) {
  body {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 1em;
    grid-auto-rows: minmax(100px, auto);
    justify-items: center;
    grid-template-areas:
      "sidebarLeft mainContent mainContent sidebarRight"
      "sidebarLeft mainContent mainContent sidebarRight"
      "sidebarLeft mainContent mainContent sidebarRight"
      "footer footer footer footer"
      ;
  }

  .footer {
    width: 86%;
  }
}

.choices {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 1em;
  justify-items: center;
}


/*--Styling--*/
body {
  background-color: #77D9F7;
  font: 1em sans-serif;
  text-align: center;
}

.sidebarLeft, .sidebarRight {
  background-color: #eee;
  border: 2px solid black;
  padding: 2%;
}

      .catImage {
        display: block;
        width: 75%;
        margin: auto;
      }

.footer {
  background-color: #eee;
  border: 2px solid black;
  padding: 2%;
}

.mainContent {
  border: 2px solid black;
  padding: 2%;
}

      .choices {
        padding-bottom: 3%;
      }
      .buttons {
        margin-left: 2%;
        margin-top: 1%
      }
      .playerBoard, .computerBoard {
        border: 2px solid black;
        border-radius: .5em;
        margin-top: 3%;
        margin-bottom: 3%;
        padding: 1%;
        background: white;
      }
      .results {
       margin: 0;
      }
      .gameOver {
        margin: 15px;
        font-size: 1.5em;
        text-transform: uppercase;
      }
      img {
        display: block;
        background-color: white;
        border: .25em solid black;
        border-radius: 1em;
        padding: .25em;
      }
